@import url("./bootstrap.css");
@import url("./bootstrap.min.css");
@import url('<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">');

.navbar {
    background-color: black;
    color: brown;
}

#para{
    font-family: 'Courgette', cursive;
    font-size: medium;
    text-align: center;
}
.start { 
    background-image: url("../images/logo.jpeg");
    text-align: center;
    background-size: 200px;
    background-position: center center;
    background-repeat: space;
    width: 100%;
}

.bienbtn {
    margin-bottom: 100%;
}

.OHH {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
/**/
.descri {
    text-align: left;
}

.one {
    font-family: 'Shadows Into Light', cursive;
    color: yellowgreen;
}

.two {
    font-family: 'Amatic SC', cursive;
    color: tomato;
}

.three {
    font-family: 'Architects Daughter', cursive;
    color: orange;
}

.text-center descri {
    font-family: 'Glegoo', serif;
}

.rriba {
    background-image: url("../images/ZZAsize.jpg");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-right: 25%;
}
/* Form */
.info,
.ZZAform{
    background-color: rgba(0, 0, 0, 1);
    color: wheat;
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding: 60px;
}

.deliver,
.pick,
.ZZAcheckout {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: teal;
}

/**/
.socials {
   background-color: black; 
}

.img {
    padding: 20px;
}

.social__link:hover {
    text-decoration: wavy;
}

.social__link
.social-list {
    list-style: none;
    display: inline-block; 
    margin: 2em 0 0;
    padding: 2;
}

.social-list__item {
    margin: 1em;
    display: inline;
    justify-content: center;
}

.social-list__link {
    padding: .5em;
}