@import url("./bootstrap.css");
@import url("./bootstrap.min.css");
@import url('<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">');


#navbar,
#navLink {
   text-align: center;
   color: brown;
   font-weight: bolder;
   font-size: larger;
}


.start { 
    background-image: url("../images/Nbg2.jpg");
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*.scnd {
    width: 30%;
    image-resolution: 300dpi;
    padding-right: 30%;
}*/

.gif2 {
    border-image-repeat: repeat;
    padding-left: 5%;
    background-color: black;
}
.gif1 {
    border-image-repeat: repeat;
    padding-left: 5%;
}

.orderbutton,
.bienbtn {
    margin-bottom: 100%;
}

.OHH {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
/**/
.descri {
    text-align: left;
}

.one {
    font-family: 'Shadows Into Light', cursive;
    color: yellowgreen;
}

.two {
    font-family: 'Amatic SC', cursive;
    color: tomato;
}

.three {
    font-family: 'Architects Daughter', cursive;
    color: orange;
}

.text-center descri {
    font-family: 'Glegoo', serif;
}

.rriba img{
    width: 1100px;
    height: 500px;
    object-fit: cover;
    padding: 25px 25px;
}
/* Form */
.info,
.ZZAform{
    background-color: rgba(0, 0, 0, 1);
    color: wheat;
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding: 40px;
}

#para{
    font-family: 'Dancing Script', cursive;
    font-size: large;
    text-align: center;
}
#ZZAry {
    text-align: center; 
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    background-image: url("../images/Nbg.webp");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    font-weight: bolder;
}


.deliver {
    float: left;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: teal;
    margin-left: 30%;
    margin-right: 30%;
}

.pickUp {
    float: right;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: teal;
    margin-left: 40%;
    margin-right: 40%;
}
#speedy2 {
    float: right;
    padding-left: 60%;
}

.ZZAcheckout {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: teal;
    margin-left: 30%;
    margin-right: 30%;
}

/**/
.socials {
   background-color: black; 
   background-image: url("../images/pizzaBg.jpg");
}

.img {
    padding: 20px;
}

.social__link:hover {
    text-decoration: wavy;
}

.social__link
.social-list {
    list-style: none;
    display: inline-block; 
    margin: 2em 0 0;
    padding: 2;
}

.social-list__item {
    margin: 1em;
    display: inline;
    justify-content: center;
}

.social-list__link {
    padding: .5em;
}